@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Heebo', system-ui, sans-serif;
  }
  body {
    @apply text-gray-900;
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
  .safe-top {
    padding-top: env(safe-area-inset-top, 0px);
  }
}
